ADMIN_EMAIL=
ADMIN_NAME=
ADMIN_PASSWORD=
ADMIN_PHONE=
AUTH_SECRET=
CRON_SECRET=
DATABASE_URL=
DIRECT_URL=
MPESA_API_KEY=
MPESA_CALLBACK_SECRET=
MPESA_ENABLED=
MPESA_ENVIRONMENT=
MPESA_PUBLIC_KEY=
MPESA_SERVICE_PROVIDER_CODE=
NEXT_PUBLIC_SITE_URL=
SHOP_EMAIL=
SHOP_NAME=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=
SUPABASE_URL=